* {
    margin: 0;
    padding: 0;
} 
.homepage {
    background-color: #1B263B;
    height: 98vh;
    position: relative;
}

#intro {
    color: #E0E1DD;
    font-family: "Kosugi";
    font-size: 60px;
    font-weight: 50;
}

#introline1 {
    margin-left: 65px;
    padding-top: 65px;
}

#introline2 {
    margin-left: 47px;
}

#links {
    position: absolute;
    bottom: 0;
    right: 0;
    margin-bottom: 65px;
    padding-right: 65px;
    list-style-type: none;
    text-align: right;
}

#linkedpages {
    text-decoration: none;
    font-family: "Kosugi";
    color: #E0E1DD;
    font-size: 24px;
}

#line {
    width: 50px;
}

.aboutme {
    background-color: #E0E1DD;
    height: 98vh;
    padding-left: 60px;
    position: relative;
}

.followingtitles1 {
    padding-top: 40px;
    color: #1B263B;
    font-family: "Kosugi";
    font-size: 128px;
    font-weight: 50;
    padding-bottom: 30px;
}

.followingtitles2 {
    padding-top: 40px;
    color: #E0E1DD;
    font-family: "Kosugi";
    font-size: 128px;
    font-weight: 50;
    padding-bottom: 30px;
}

#aboutmeinfo {
    font-family: "Inter";
    font-size: 24px;
    font-weight: lighter;
}

#otherlinks1 {
    text-decoration: none;
    background-color: #1B263B; 
    color: #E0E1DD;
    font-style: italic;
}

#otherlinks2 {
    text-decoration: none;
    background-color: #E0E1DD; 
    color: #1B263B;
    font-style: italic;
}

#aboutmelist {
    font-family: "Inter";
    font-size: 24px;
    padding-left: 30px;
    font-weight: lighter;
}

.currentwork {
    background-color: #1B263B; 
    height: 98vh;
    padding-left: 60px;
    position: relative;
    padding-right: 60px;
}

#currentworklist1 {
    padding-left: 20px; 
    font-family: "Inter";
    font-size: 24px;
    font-weight: 200;
    color: #E0E1DD;
}

#currentworklist2 {
    padding-left: 30px; 
    font-family: "Inter";
    font-size: 24px;
    font-weight: 100;
    color: #E0E1DD;
    line-height:31px;
}

.stem {
    background-color: #E0E1DD;
    height: 98vh;
    padding-left: 60px;
    position: relative;
}

.media {
    background-color: #1B263B;
    height: 98vh;
    padding-left: 60px;
    position: relative;
}

.volunteering {
    background-color: #E0E1DD;
    height: 98vh;
    padding-left: 60px;
    position: relative;
}

.miscellaneous {
    background-color: #1B263B;
    height: 98vh;
    padding-left: 60px;
    position: relative;
}